<div class="text-center-mt-3">
  <h2 *ngIf="photos.length > 0; else elseBlock">Photos for approval - {{photos.length}}</h2>
  <ng-template #elseBlock> <h2>No photos to approve.</h2></ng-template>
</div>
<div class="container" *ngIf="photos.length > 0">
  <div class="row">
    <div *ngFor="let photo of photos" class="col-2">
      <div class="card-img-wrapper text-center">
        <p routerLink='/members/{{photo.knownAs.toLowerCase()}}' role="button" class="btn btn-info">{{photo.knownAs}} </p>
        <img src="{{photo.url || './assets/user.png'}}" alt="{{photo.knownAs}}" class="card-img-bottom" (click)="setActivePhoto(photo)">
      </div>
    </div>
  </div>

  <div class="row">
    <img src="{{activePhoto.url || './assets/user.png'}}" alt="{{activePhoto.knownAs}}" class="mt-4" >
    <div class="footer text-center mt-4">
      <button type="button" class="btn btn-success btn-lg mr-5" (click)="approvePhoto(activePhoto.id)">Approve</button>
      <button type="button" class="btn btn-danger btn-lg ml-5" (click)="rejectPhoto(activePhoto.id)">Reject</button>
    </div>
  </div>
</div>

